html , body{
    margin: 0;
    width: 100%;
    padding: 0;
}



@media (max-width:576px){
    .caja1 , .titularDes , .tresTitles{
        display: none !Important;
    }
            /*HEADER*/
    .header{
        padding: 10px;
        border-bottom: 1px solid gray;
        display: flex;
        flex-wrap: wrap;
        height: 40vh;
        width: 100%;
    }
    .header .franceses{
        background-color: #fabada;
        min-width: 250px;
        width: 60%;
        height: 80%;
        margin-right: 5px;
    }

    .header .textoFranceses{
        background-color: greenyellow;
        width: 36%;
        height: 80%;
        margin-right: 5px;
    }
    .header .contenedor-textos{
        background-color: gray;
        width: 97%;
        height: 17%;
        justify-content: center;
        display: inline-block;
    }
                /*HEADER*/

                /*TITULARES--1*/
    .titulares1{
        height: 500px;
        padding-right: 47%;
        margin-top: 20px;
        margin-right: 5px;
    }

    .titulares1 .titulo1{
        display: flex;
        flex-direction: row;
        height: 15%;
        margin-bottom: 5px;
        width: 100%;
    }
    .titulares1 .titulo1 .foto{
        background-color: gray;
        width: 50%;
        height: 100%;
    }
    .titulares1 .titulo1 .titulo{
        background-color: black;
        width: 50%;
        height: 100%;
    }
            /*TITULARES--1*/

            /*TITULARES--2*/
    .tresTitulares{
        width: 100%;
        height: 150px;
        margin: 60px 5px 0 5px ;
        display: flex;

    }
    .tresTitulares .fotoTitular{
        width: 31%;
        height: 140px;
        border-bottom: 1px solid gray;
        padding: 10px;
        flex-direction: row;

    }
    .tresTitulares .fotoTitular .foto{
        height: 80%;
        width: 100%;
        background-color: gray;
        margin-bottom: 2px;
    }
    .tresTitulares .fotoTitular .titular{
        height: 18%;
        width: 100%;
        background-color: black;
    }

            /*TITULARES--2*/
}
/*----------------MOBILE----------------------*/


/*----------------DEKSTOP----------------------*/


@media (min-width:576px){
    .contenedor-textos , .textoFranceses , titulares1 , tresTitulares{
        display: none !Important;
    }
            /*HEADER*/
    .header{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
        width: 78%;
    }
    .header .franceses{
        background-color: #fabada;
        min-width: 250px;
        width: 64%;
        height: 99%;
        margin-right: 5px;
        display: flex;
    }

    .header .caja1{
        height: 99%;
        width: 33% ;
        display: flex;
        flex-wrap: wrap;
    }
    .header .textFrance{
        background-color: greenyellow;
        width: 100%;
        height: 50%;
    }
    .header .textCont{
        background-color: gray;
        width: 100%;
        height: 50%; 
    }
            /*HEADER*/   


            /*TITULARES1*/
    .titularDes{
        height: 25vh;
        width: 76.5%;
        display: flex;
        margin-left: 10px;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .titularDes .tituloDes{
        height: 100%;
        width: 31%;
        
        
    }
    .titularDes .tituloDes .titulo{
        width: 100%;
        height: 30%;
        background-color: black;
    }
    .titularDes .tituloDes .foto{
        width: 100%;
        height: 69%;
        margin-bottom: 0.9%;
        background-color: gray;
    }
            /*TITULARES1*/

            /*TITULARES--2*/
            .tresTitles{
                width: 100%;
                height: 200px;
                margin: 0px 5px 0 5px ;
                display: flex;
                padding: 0 10px 0 0;
            }
            .tresTitles .fotoTitular{
                width: 18%;
                height: 97%;
                border-bottom: 1px solid gray;
                padding: 0.5%;
                flex-direction: row;
        
            }
            .tresTitles .fotoTitular .foto{
                height: 70%;
                width: 100%;
                background-color: gray;
                margin-bottom: 2px;
            }
            .tresTitles .fotoTitular .titular{
                height: 28%;
                width: 100%;
                background-color: black;
            }
        
                    /*TITULARES--2*/    
}